<!DOCTYPE html>
<html>
<head>
	<title>Circles</title>
	<script type="text/javascript" src="/js/paper-full.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/circles.css">

	<script type="text/paperscript" canvas="myCanvas" src="/js/sounds.js"></script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>